<div class="modal" id="settingsModal" role="dialog" aria-labelledby="settingsModal" aria-hidden="true">
	<div class="modal-dialog modal-lg"><div class="modal-content"><div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" id="settingsModalLabel">Settings</h4>
	</div>
	<div class="modal-body">
		<% ui_message(:no_backends) if Settings.backends.nil? %>
		<%
		@r = refresh_errors; inactive = []; active = []
		keys = [] 
		keys = @r.map{|a| a[0] } unless @r.empty?

		if Settings.origins then
			Settings.origins.each do |b| 
				if keys.include? (b[0]) then
					inactive << b
				else 
					active << b
				end
			end
		end

		def display b, show_error=false
			id, settings = b %>
		<tr><td colspan=2><%= settings.store %> <%= "'"+settings.title+"'" %></td></tr>
		<% settings.sort.each do |k,v| 
			val = v
			val = v.map{|a,b| "#{a}: #{b}"}.join("<br>").html_safe unless v.is_a? String
			%>
				<tr><td><%= k %> </td><td> <%=val%></td></tr>
			<% end %>
			<%msg = @r.select{|a| a[0] == id}.flatten%>
			<% unless msg.empty?
				   m = msg[1] %>
			   <tr class="alert-danger"><td>Error</td><td><%= m %></td></tr>
			<% end %>
				<tr><td colspan=2>&nbsp;</td></tr>
		<% 
		end #def display
		%> 

		<div class="col-md-6">
			<h4>Active Backends</h4>
			<table class="table">
				<% active.each do |b| display b; end %>
			</table>
		</div>
		<div class="col-md-6">
			<h4>Inactive Backends</h4>
			<table class="table">
				<% inactive.each do |b| display b, true; end %>
			</table>
			<p><%= link_to "Refresh settings from file, and metrics cache", refresh_path, class: 'btn btn-info' %></p>
		</div>	

		<div class="clearfix">&nbsp;</div>

		<div class="modal-footer no_link" style="font-size: small">
			Machiavelli version <%=version%>. 
			Developed by <a href="http://www.anchor.com.au"><i class="icon-anchor"></i></a>.
			Fork it on <a href="https://github.com/anchor/machiavelli"><i class="icon-github"></i></a>.
		</div>
	</div></div></div>
</div>
