<div class="modal" id="settingsModal" role="dialog" aria-labelledby="settingsModal" aria-hidden="true">
	<div class="modal-dialog modal-lg"><div class="modal-content"><div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" id="settingsModalLabel">Settings - Metric Origins</h4>
	</div>
	<div class="modal-body">
		<% ui_message(:no_backends) if Settings.backends.nil? %>
		<%
		@r = refresh_errors; inactive = []; active = []
		keys = [] 
		keys = @r.map{|a| a[0] } unless @r.empty?

		if Settings.origins then
			Settings.origins.each do |b| 
				if keys.include? (b[0].to_s) then
					inactive << b
				else 
					active << b
				end
			end
		end

		def display b, show_error=false
			id, settings = b
			m = @r.select{|a| a[0] == id.to_s}.flatten[1] if show_error
	       	%>
			<tr <%="class=alert-danger" if m%>>
				<%[id,settings.title,settings.store,settings.source].each{|s| td s}%>
			<% begin; s = settings_suppress(settings); rescue Store::Error
				s = []; end
			   td s.sort.map{ |k,v| "#{k}: #{v}"}.join("<br/>")
			%></tr>
			<% if m then %>
				<tr <%="class=alert-danger" if m%>><td> - Error Encountered:</td><td colspan=4><%= m %></td></tr>
			<% end %>
			<%  
		end #def display
		def th s;%><th><%=s.to_s.html_safe%></th><%end
		def td s;%><td><%=s.to_s.html_safe%></td><%end
		%> 

	<div class="col-md-12">
			<table class="table">
				<tr><% ["Origin ID","Title","Store","Source","Settings"].each{|s| th s}%></tr>
				<% active.each do |b| display b; end %>
			<% unless inactive.empty? %>
				<% inactive.each do |b| display b, true; end %>
			<% end %>
			</table>
			<p><%= link_to "Refresh settings from file, and metrics cache", refresh_path, class: 'btn btn-info' %></p>
		</div>	

		<div class="clearfix">&nbsp;</div>

		<div class="modal-footer no_link" style="font-size: small">
			Machiavelli <%=version%>| 
			Fork it on <a href="https://github.com/machiavellian/machiavelli"><i class="icon-github"></i></a>
		</div>
	</div></div></div>
</div>
