<%= javascript_include_tag "jquery.form-validator" %>
<style>
input.error { background: #ffebef; color: #480000}
</style>
<div class="btn-group">
<% 
args = {label: true}
qs = que_qs(:start)[0]
args[:prompt_value] = is_epoch(qs) ? "custom" : qs

navbar_dropdown(:start, ["2w", "1w", "1d", "3h", "1h", "10min"], args).each do |a| %>
	<%= a.html_safe %>
<% end %>
</div>
<div class="btn-group">
<% 
qs = que_qs(:stop)[0]
if is_epoch(qs)
	label = "custom"
else
	if qs == ui_default(:stop) || qs == nil 
		label =  ui_default(:stop)
	else
		label =	qs 
		field = qs.tr("^0-9", '')
	end
end
field ||= "10"

fie = form_for "time", url: stop_time_path, html: {id: "rel_form"} do |f| %>
	<li style="padding: 3px"><%=f.text_field(:number, value: field, style:"width: 100%", data: {validation: "number", validation_error_msg: "Enter a valid integer"})%></LI>
	<li style="padding: 3px"><div class="btn-group" style="display:flex;"><%["min","h","d", "w"].each do |a| %><%= f.submit a, class: "btn btn-default" %><% end %></div></li>
	<li style="padding: 3px"><div class="btn-group"><%["now"].each do |a| %><%= f.submit a, class: "btn btn-default" %><% end %></div></li>
<% end %>
<% full = "<div class='dropdown-menu'>#{fie}</div>"; (dropdown full, {prompt: "stop: #{label}"}).each do |d|%><%= d.html_safe %><% end %>
</div>
<script>
$(function() {
	$("div.dropdown-menu input").on("click", function(e) {
		e.stopPropagation();
	});
	$.validate({});
})
</script>
