<%= javascript_include_tag "jquery.form-validator" %>
<style>
input.error { background: #ffebef; color: #480000}
</style>
<div class="btn-group" style="font-size: small">Data from: </div> 
<div class="btn-group">
	<% navbar_buttons(:start, ["2w", "1w", "1d", "3h", "1h", "10min"]).each do |a| %>
		<%= a.html_safe %>
	<% end %>
</div>
<div class="btn-group" style="font-size: small">ago to: </div> 
<div class="btn-group">
	<% label = que_qs(:stop); 
	field = "10" || (params[:stop].tr("^0-9", '')  if params[:stop])
	if label.empty? || is_epoch(label[0]) then
		field = "10"
		label = ["now"] 
	end
	navbar_buttons(:stop, label, {active: true}).each do |a| %><%= a.html_safe %><%end%>

	<a type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="stop_select">
		<span class="caret"></span>
		<span class="sr-only">Toggle Dropdown</span>
	</a>
	<div class="dropdown-menu">
		<%= form_for "time", url: stop_time_path, html: {id: "rel_form"} do |f| %>
		<li style="padding: 5px"><%=f.text_field(:number, value: field, style:"width: 100%", data: {validation: "number", validation_error_msg: "Enter a valid integer"}) %></li>

		
		<div class="btn-group" style="padding-left: 5px">
		<% ["min","h","d", "w"].each do |a| %>
			<%= f.submit a, class: "btn btn-default" %>
		<% end %>
		</div>
		<div class="btn-group" style="padding: 5px">
		<%= f.submit "now", class: "btn btn-default", style: "display: inline-block"%>
		</div>
	<% end %>
	</div>
</div>
<script>
$(function() {
	$("div.dropdown-menu input").on("click", function(e) {
		e.stopPropagation();
	});
	$.validate({});
})
</script>
