<%= javascript_include_tag "moment.min" %>
<%= javascript_include_tag "bootstrap-datetimepicker.min" %>
<%= stylesheet_link_tag "bootstrap-datetimepicker.min" %>
<%= javascript_include_tag "jquery.form-validator" %>
<% times = [{field: "start", label: "Data from ", default: to_epoch(ui_default(:start))},{field: "stop", label: "to", default: to_epoch(ui_default(:stop))}] %>
<%= form_for "time", url: absolute_time_path, html: {style: "display: inline-block"} do |f| %>
	<% times.each do |b|
		val = to_epoch(params[b[:field].to_sym] || b[:default].to_s)
		val = Time.at(val.to_i).strftime("%d/%m/%Y %I:%M:%S %p") %>

<div class="btn-group" style="font-size: small"><%= b[:label] %></div> 	
<div class="btn-group" style="width: 230px">
	<div id="datetimepicker_<%=b[:field]%>" class="input-group date">
		<%= f.text_field "#{b[:field]}_time", class: "form-control", value: val, style: "display: inline-block", data: {validation: 'datetime'} %>
		<span class="input-group-addon"><i class="icon-calendar"></i></span>
	</div>
</div>
<% end #loop %>

<div class="btn-group">
	<%= f.submit "Go", class: "form-control" %>
</div>
<% end # form %>


<script type="text/javascript">
$(function() { 
	<% times.each do |b| %>
		format_string = "DD/MM/YYYY HH:mm:ss A"

		$('#datetimepicker_<%=b[:field]%>').datetimepicker({ 
			icons: {
			    time: "icon-time",
			    date: "icon-calendar",
			    up: "icon-arrow-up",
			    down: "icon-arrow-down"
			},
		format: format_string
                });
	<% end %>
	$.formUtils.addValidator({
		name: "datetime",
		validatorFunction: function(val, el, config, lang, form) { 
			return moment(val, format_string).isValid();
		},
		errorMessage: "",
		errorMessageKey: ""
	})
	$.validate()

});
</script>
