
<div class="btn-group" style="font-size: small">Data from: </div> 
<div class="btn-group">
	<% navbar_buttons(:start, ["10min","1h","3h","1d","1w","2w"]).each do |a| %>
		<%= a.html_safe %>
	<% end %>
</div>
<div class="btn-group" style="font-size: small">to: </div> 
<div class="btn-group">
	<% label = que_qs(:stop); label = ["now"] if label.empty? ; navbar_buttons(:end, label).each do |a| %><%= a.html_safe %><%end%>

	<a type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		<span class="caret"></span>
		<span class="sr-only">Toggle Dropdown</span>
	</a>
	<div class="dropdown-menu">
		<%= form_for "time", url: stop_time_path do |f| %>
		<% field = params[:stop].nil? ? "10" : params[:stop].tr("^0-9", ''); %>
		<li style="padding: 5px"><%=f.text_field(:number, value: field, style:"width: 100%;") %></li>
		
		<div class="btn-group" style="padding-left: 5px">
		<% ["min","h","d", "w", "now"].each do |a| %>
				<%= f.submit a %>
		<% end %>
		</div>
	<% end %>
	</ul>
</div>
