<%= javascript_include_tag "cubism.v1" %>
<%= stylesheet_link_tag    "cubism" %>
<%= stylesheet_link_tag    "graphs_cubism" %>

<script src="/assets/graphs/util.js"></script>
<% width = 800 %>

<input type="checkbox" id="toggle_live" checked> Live Updates

<div id="cubism_graph" style="position:relative; width:<%=width%>px"></div>

<% def safe_array a; ("['"+a.join("','")+"']").html_safe; end
colours = safe_array Graph::Cubism.get_colours
%>

<script>
	$(document).ready(function() {
		$("#toggle_live").click(function() { 
			if ($(this).is(":checked")) { context.start() } else { context.stop() } 
		}) 
	})

	var context = cubism.context()
		.serverDelay(0)
		.clientDelay(0)
		.step(1e3)
		.size(<%=width%>);

	datum = []

	machiavelli = context.machiavelli("http://localhost:3000")
	$.each(gon.metric, function(i,d) {
		datum.push(machiavelli.metric(d))
	})

	// Erectin' a dispenser
	d3.select("#cubism_graph").call(function(div) {
		div.append("div")
			.attr("class", "axis")
			.call(context.axis().orient("top"));

		div.selectAll(".horizon")
			.data(datum)
			.enter().append("div")
			.attr("class", "horizon")
			.call(
				context.horizon()
				.height(50)
				.colors(<%=colours%>)
			); 

		div.append("div")
			.attr("class", "rule")
			.call(context.rule());
	});
	// On mousemove, reposition the chart values to match the rule.
	context.on("focus", function(i) {
		d3.selectAll(".value").style("right", i == null ? null : context.size() - i + "px");
	});
</script>
