<%= javascript_include_tag "cubism.v1" %>
<%= javascript_include_tag "clizia" %>
<%= stylesheet_link_tag    "cubism" %>
<%= stylesheet_link_tag    "clizia" %>

<% width = 600 %>

<div id="horizon_graph" style="position:relative; width:<%=width%>px"></div>

<div id="clizia" style="position:relative; width: <%=width%>px"></div>

<% def safe_array a; ("['"+a.join("','")+"']").html_safe; end
colours = safe_array Graph::Horizon.get_colours
%>

<script>

	Clizia.Utils.ProgressBar(gon.metrics.length);
	chart = Clizia.Graph.Horizon({
		metric: gon.metrics, 
		chart: "clizia", 
		color: <%=colours %>,
		start: gon.start, 
		stop: gon.stop, 
		step: gon.step,
		clock: gon.clock

	})
	chart.render()

	function stopUpdates() { chart.context.stop(); }
	function startUpdates() { chart.context.start(); } 

</script>
