<%= javascript_include_tag "nanobar" %>
<%= javascript_include_tag "d3.v3" %>
<%= javascript_include_tag "d3.layout.min" %>
<%= include_gon %>

<% if @gon.metrics.length > 0 then
	if @graph == "xkcd"
		dckx = true
		graph = "stacked"
	else 
		dckx = false
		graph = @graph
	end
%>
	<%= render(file: "graphs/#{graph}", locals: {dckx: dckx}) if graph%>
<% elsif @gon.metrics.length == 0%>
	<p><%= ui_message(:no_graphs_selected).html_safe %></p>
<% end %>

