<%= javascript_include_tag "rickshaw" %>
<%= javascript_include_tag "underscore.min" %>

<%= stylesheet_link_tag    "graphs_stacked_test" %>
<script src="/assets/graphs/stacked_test.js"></script>

<div class="col-md-10">
	<div class="slider" id="slider"></div>
</div>
<div class="col-md-10">
	<div id="chart_container">
		<div class="y_axis" id="y_axis"></div>
		<div class="chart"  id="chart"></div>
		<div class="y_axis right_axis" id="y_axis_right"></div>
		<div class="x_axis" id="x_axis"></div>
		<div class="legend legend-indent" id="legend"></div>
		<div class="legend legend-indent legend_right" id="legend_right"></div>
		<a href="<%= obl_qs :right%>">Reset Left/Right Axis</a>
	</div>
</div>
<script>
	var data = []
	metrics =  []
	right_links = []
	left_links = []
	right_id = ["<%= (que_qs :right).join('","').html_safe%>"]
	<% @metrics.each do |m| %>
		metrics.push("<%= m %>")
		right_links.push("<a href='<%= add_qs :right, m%>'> &gt;&gt; </a>")
		left_links.push("<a href='<%= rem_qs :right, m%>'> &lt;&lt; </a>")
	<%end%>

	var graph;
	renderWaiting("chart")
	data = getMetrics(metrics)

	var intervalID;
	function startUpdates(){ intervalID = updateStacked() } 
	function stopUpdates() { clearInterval(intervalID) } 
</script>
