<%= javascript_include_tag "rickshaw" %>
<%= stylesheet_link_tag    "graphs_standard" %>
<%= include_gon %>

<script src="/assets/graphs/standard.js"></script>
<script>
	var palette = new Rickshaw.Color.Palette({scheme: "munin"})
</script>
<div class="slider" id="multi_slider" ></div>
<% @metrics.each_with_index do |metric, index| %>
	
<div style="padding-left: 100px">
	<h4><a href="#" data-toggle="tooltip-always-metric" data-html="true" data-original-title="<%= style_metric :table, metric%>" class="plaid"><%= style_metric :pretty, metric %></a></h4>
</div>
<div id="chart_container">
	<div class="y_axis" id="<%="y_axis_#{index}"%>"></div>
	<div class="chart"  id="<%="chart_#{index}"%>"></div>
</div>

<script>
	renderWaiting("chart_<%=index%>")
	renderStandard(<%=index%>)
</script>
<% end %>

<script>
var intervalID; 
function stopUpdates() { clearInterval(intervalID) } 
function startUpdates() { intervalID = updateStandard() } 
</script>

