<%= javascript_include_tag "rickshaw" %>
<%= stylesheet_link_tag    "graphs/standard" %>
<%= include_gon %>

<script src="/assets/graphs/standard.js"></script>
<script>
	var color = [];
	var palette = new Rickshaw.Color.Palette({scheme: "munin"});
</script>
<div class="slider" id="multi_slider"></div>
<span id="zoomtoselected" class="no_link zoomtoselected"></span>
<% @metrics.each_with_index do |metric, index| %>
<div class="graph_title">
	<h4><a href="#" data-toggle="tooltip-always-metric" data-html="true" 
			data-original-title="<%= style_metric :table, metric%>" class="plaid"><%= style_metric :pretty, metric %></a>
		<div id="metric_<%=index%>_url" class="metric_url_toggle"></div>
	</h4>
</div>
<div id="chart_container">
	<div class="y_axis" id="<%="y_axis_#{index}"%>"></div>
	<div class="chart"  id="<%="chart_#{index}"%>"></div>
</div>

<script>
color.push(palette.color());
renderWaiting("chart_<%=index%>");
renderStandard(<%=index%>);
showURL("metric_<%=index%>_url", gon.metrics[<%=index%>].sourceURL);
<% base = obl_qs :start; base = obl_qs(:stop, {url: base}); base = chg_qs(:time, "absolute", {url: base})
start = to_epoch(params[:start]).to_i; 
stop = to_epoch(params[:stop]).to_i
%>
zoomtoselected("<%= base.html_safe %>", <%= start %>, <%= stop %>)
</script>
<% end %>

<script>
var intervalID; 
function stopUpdates() { clearInterval(intervalID);} 
function startUpdates() { intervalID = updateStandard();} 
</script>

