<%= javascript_include_tag "rickshaw" %>
<%= stylesheet_link_tag    "graphs_standard" %>
<%= include_gon %>

<script src="/assets/graphs/util.js"></script>
<script src="/assets/graphs/standard.js"></script>

<div class="slider" id="multi_slider" ></div>
<% @metrics.each_with_index do |metric, index| %>
<h4><%= metric %></h4>

<div id="chart_container">
        <div class="y_axis" id="<%="y_axis_#{index}"%>"></div>
        <div class="chart"  id="<%="chart_#{index}"%>"></div>
</div>

<script>
	renderWaiting("chart_<%=index%>")
	var data = []
	renderStandard(<%=index%>)
</script>
<% end %>

<script>
	var intervalID = updateStandard()
	function stopUpdates() { clearInterval(intervalID) } 
</script>

