<%= include_gon %>

<script src="/assets/graphs/util.js"></script>
<script src="/assets/graphs/rickshaw.js"></script>
<%	
	y_axis = "y_axis_#{index}"
	chart  = "chart_#{index}"
%>
<h4><%= metric %></h4>
<div id="chart_container">
	<div class="y_axis" id="<%=y_axis%>"></div>
	<div class="chart"  id="<%=chart %>"></div>
</div>

<script>
renderWaiting("chart_<%=index%>")
var data = []

/*
// if static
feed = gon.feed[<%=index%>]+"?start="+gon.start+"&stop="+gon.stop+"&step="+gon.step
$.getJSON( feed , function(data) { 
	if (data.length == 0) { 
		renderError("chart_<%=index%>", "No data returned. Data source: "+feed) }
	if (data.error) {
		renderError("chart_<%=index%>", "Error encountered: "+data.error)
		return false
	}

	render_rickshaw(<%=index%>,data)
})
// else
*/

render_rickshaw(<%=index%>)

</script>
