<script>
$(document).ready(function() { 
	$("#graphed_metrics").sortable({
		stop: function(event, ui) { 
			var metrics = [], params = []
			$(".sortable").each(function(i,el){
				metrics.push("metric="+$(el).text().trim())
			})
			$.each(location.search.split("&"), function(i, d) {
				if(d.indexOf("metric") == -1) { params.push(d) }
				} )
			new_url = location.origin + location.pathname +"?"+ params.join("&").replace("?","") +"&"+metrics.join("&")
			window.location.href= new_url
		}
	})
	$(".hover-li").hover(function(){$(this).find(".hover").css("visibility","visible") }, function(){$(this).find(".hover").css("visibility","hidden")})

})
</script>
<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="sidebar-collapse">
		<ul class="nav side-menu" id="search">
			<li class="header-text">
				<span><i class="icon-th-list"></i>Available Metrics
				<span class="refresh"><a href="<%= refresh_path %>" data-toggle="tooltip" data-original-title="Click to refresh available metrics" 
				onClick="$(this).addClass('icon-spin')"><i class="icon-refresh"></i></span></a>
				</span>
			</li>
			<li>
	<li><a href="#filter_metrics" role="button" data-toggle="modal" data-target="#filter_metrics">Select metrics</a></li>
			</li>
		</ul>

		<ul class="nav side-menu" id="graphed_metrics">
			<li class="header-text"><i class="icon-bar-chart"></i>Graphed Metrics</li>
			<% @metrics.each_with_index do |metric, i| l = @metrics.length - 1 %>
			<li class="hover-li sortable"><div>
				<a href="<%= rem_qs :metric, metric %>" data-toggle="tooltip-always" data-original-title="<%=metric%>"
				onClick="this.href = this.href+window.location.hash"	>
				<span class="hover hover-left drag"><i class="icon-reorder"></i></span>
				<span class="metric"><%= metric %></span>
				<span class="hover hover-right"><i class="icon-remove"></i></span>
			</a>
			</div></li>
			<% end %>
		</ul>
	</div>
</nav>
<%= render partial: "partial/sidenav/metric_modal"%>
