<%= stylesheet_link_tag "select2" %>
<%= javascript_include_tag "select2" %>
<div class="modal" id="filter_metrics" role="dialog" aria-labelledby="filter_metrics" aria-hidden="true">
<div class="modal-dialog modal-lg"><div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" id="myModalLabel">Search metrics</h4>
	</div>
	<%= form_for "filter", url: submit_path do |f| %>
	<div class="modal-body">
		<div style="height: 300px"> 
			<div class="col-md-6">
				<%= f.hidden_field(:metrics_select, style:"width: 100%", value: "0000") %>
			</div>
			<div id="selection-div" class="col-md-6 select_results">
				<strong>Current Selection</strong>

				<ul id="selection">
				</ul>
			</div>
		</div>
		<div class="modal-footer">
			<%= f.submit "Render", class: "btn btn-default" %>
		</div>
	</div>
	<% end %>
</div></div>
</div>
<script>

var metrics = []

$(".sortable").each(function(i,el){
	m = $(el).find("span.metric")[0].dataset	
	metrics.push({id: m.metric, text: m.prettyMetric})
});

$('#filter_metrics_select').select2({
	placeholder: "Search for a metric",
	openOnEnter: false,
	allowSelectAllNone: true,
	multiple: true,
	initSelection: function(element,callback) { 
		callback(metrics);
	},
	ajax: {
		quietMillis: 500,
		url: '/search/', 
		dataType: 'jsonp',
		data: function(term, page) {
			if (term.length == 0) { 
				q = "*" 
			} else { 
				q = "*"+term+"*"
			};
			return {
				q: q,
				page_limit: 64,
				page: page, 
			}
		},
		results: function(data, page) {	 
			ret = [];

			more = true; 
			$.each(data.metrics, function(i, d) {  
				ret.push({id: unescape(d.id), text: unescape(d.text)})
			}) 
			if (ret.length == 0) { more = false }
			return { results: ret, more: more};
		 }, 
	 }, 
	formatSelection: function(d){
		 return unescape(d.text); 
	 }
});

$(document).ready(function() { $(".select2-results").css("overflow-x","auto"); })
 
$('#filter_metrics').on('shown.bs.modal', function() {
	$('input:visible:first').focus();
})

search = ""

//When search option selected, save what was used to search
function saveSearch() {
	search = $("#s2id_autogen1").val()
}

// Once select option finishes, use the saved value to populate the filter
function afterSelect() {
	if (search.length > 0)
	$("#s2id_filter_metrics_select").select2("search",search);
}

</script>
