<%= stylesheet_link_tag "select2" %>
<%= javascript_include_tag "select2" %>
<script>
$(document).ready(function() { 
		$("#filter_metrics_select").select2({width: "100%", placeholder: "Select a metric"});
	$(".select2-results").css("overflow-x","auto");
})
</script>
<div class="modal fade" id="filter_metrics" role="dialog" aria-labelledby="filter_metrics" aria-hidden="true">
<div class="modal-dialog"><div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" id="myModalLabel">Filter metrics</h4>
	</div>
	<%= form_for "filter", url: modal_filter_submit_path do |f| %>
	<div class="modal-body"> 
		<%= f.select(:metrics_select, @available_metrics.sort.map{|a| [a,a]}, {prompt: nil},{ multiple: true, size: 10, class: "filter"}) %>
		<div class="modal-footer">
		<%= f.submit "Filter", class: "btn btn-default" %>
		</div>
	</div>
	<% end %>
</div></div>
</div>
