<%= stylesheet_link_tag "select2" %>
<%= javascript_include_tag "select2" %>
<div class="modal" id="filter_metrics" role="dialog" aria-labelledby="filter_metrics" aria-hidden="true">
<div class="modal-dialog modal-lg"><div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" id="myModalLabel">Filter metrics</h4>
	</div>
	<%= form_for "filter", url: modal_filter_submit_path do |f| %>
	<div class="modal-body"> 
		<%= f.hidden_field(:metrics_select, style:"width: 100%") %>
		<div class="modal-footer">
		<%= f.submit "Filter", class: "btn btn-default" %>
		</div>
	</div>
	<% end %>
</div></div>
</div>
<script>

 function formatResult(data) {
        return data.metric ;
    };

    function formatSelection(data) {
        return data.metric;
    };


    function MultiAjaxAutoComplete(element, url) {
        $(element).select2({
            placeholder: "Search for a metric",
	    openOnEnter: false,
	    multiple: true,
            id: function(d){ return d.metric},
            ajax: {
                url: url, 
                dataType: 'jsonp',
                data: function(term, page) {
                        return { q: "*"+term+"*" };
                },
                results: function(data, page) {
                        return { results: data.metrics};
                }
            },
            formatResult: formatResult,
            formatSelection: formatSelection,
        });
    };



    MultiAjaxAutoComplete('#filter_metrics_select', '/source/');

$(document).ready(function() { 
	$(".select2-results").css("overflow-x","auto");
	})
</script>
