<script>
$(document).ready(function() { 
		metric_sort()
		$(".hover-li").hover(function(){$(this).find(".hover").css("visibility","visible") }, function(){$(this).find(".hover").css("visibility","hidden")})

})
</script>
<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="sidebar-collapse">
		<ul class="nav side-menu">
			<li class="header-text no_highlight">
				<div>Graphed Metrics 
				<a class='pull-right find' href="#filter_metrics" role="button" data-toggle="modal" data-target="#filter_metrics" class="metric find">
					Search <i class='icon-external-link'></i>
				</a></div>
			</li>
		</ul>
		<ul class="nav side-menu" id="graphed_metrics">
			<% @metrics.each_with_index do |metric, i| l = @metrics.length - 1 %>
			<li class="hover-li sortable">
			<div>
					<span class="hover hover-left drag" data-toggle="tooltip-always-metric" data-original-title="Drag to rearrange">	
						<i class="icon-reorder"></i>
					</span>

					<span class="metric" data-pretty-metric="<%=style_metric :pretty, metric%>" data-metric="<%=metric%>" 
					data-html="true" data-toggle="tooltip-always-metric" data-original-title="<%=style_metric :table, metric%>">
						<%=style_metric :pretty, metric%>
					</span>
					<span class="hover hover-right">
						<a href="<%= rem_qs :metric, metric %>"	onClick="this.href = this.href+window.location.hash"
							data-toggle="tooltip-always-metric" data-original-title="Remove metric">
						<i class="icon-remove"></i>
						</a>
					</span>
			</div>
			</li>
			<% end %>
		</ul>
	</div>
</nav>
<%= render partial: "partial/sidenav/modal"%>
